* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$active-color: rgba(84, 186, 79, 1); 
$text-color: rgba(75, 85, 99, 1);
$icon-size: 18px;


@import "layout";
@import "index";
@import "calendar";
@import "users";
@import "notification";
@import "discount-code";
@import "cashback";
@import "doctors";
@import "treatment";
