@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#layout #sidebar {
  background: #fff;
  width: 240px;
  min-height: 100vh;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
}
#layout #sidebar img {
  width: 80%;
  margin: 0 auto 20px;
  display: block;
}
#layout #sidebar .sidebar-routes {
  width: 100%;
  margin-top: 10px;
}
#layout #sidebar .sidebar-routes a {
  margin: 0;
  font-size: 16px;
  color: rgb(75, 85, 99);
  text-decoration: none;
  font-weight: 500;
}
#layout #sidebar .sidebar-routes a .route {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}
#layout #sidebar .sidebar-routes a .route:hover {
  background: rgba(40, 167, 69, 0.1);
}
#layout #sidebar .sidebar-routes a .route i {
  font-size: 18px;
  color: rgb(75, 85, 99);
  margin-right: 10px;
}
#layout #sidebar .sidebar-routes .route.active {
  background: rgb(84, 186, 79);
  color: #fff;
}
#layout #sidebar .sidebar-routes .route.active i {
  color: #fff;
}
#layout #sidebar .sidebar-routes .route.active a {
  color: #fff;
  text-decoration: none;
}
#layout #sidebar .sidebar-routes .route.active:hover {
  background: rgb(84, 186, 79);
}
#layout #responsive-sidebar {
  background: #fff;
  width: 87px;
  min-height: 100vh;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
}
#layout #responsive-sidebar img {
  width: 80%;
  margin: 0 auto 20px;
  display: block;
}
#layout #responsive-sidebar .sidebar-routes {
  width: 100%;
  margin-top: 10px;
}
#layout #responsive-sidebar .sidebar-routes .route {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}
#layout #responsive-sidebar .sidebar-routes .route:hover i {
  color: rgb(84, 186, 79);
}
#layout #responsive-sidebar .sidebar-routes .route i {
  font-size: 18px;
  color: rgb(75, 85, 99);
  margin-right: 10px;
}
#layout #responsive-sidebar .sidebar-routes .route a {
  margin: 0;
  font-size: 16px;
  color: rgb(75, 85, 99);
  text-decoration: none;
  font-weight: 500;
}
#layout #responsive-sidebar .sidebar-routes .route.active {
  color: #fff;
}
#layout #responsive-sidebar .sidebar-routes .route.active i {
  color: rgb(84, 186, 79);
}
#layout #responsive-sidebar .sidebar-routes .route.active a {
  color: #fff;
  text-decoration: none;
}
#layout #navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 245px);
  height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 99;
}
#layout #navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#layout #navbar .navbar-container .fa-bars,
#layout #navbar .navbar-container .fa-arrow-right {
  font-size: 18px;
  color: rgb(75, 85, 99);
  margin-right: 20px;
  cursor: pointer;
}
#layout #navbar .navbar-container .search-box {
  display: flex;
  align-items: center;
  background-color: #f6f8fa;
  border-radius: 25px;
  padding: 10px 20px;
  width: 350px;
  margin: 0 auto;
}
#layout #navbar .navbar-container .search-box i {
  font-size: 20px;
  color: #c1c3c8;
  margin-right: 10px;
}
#layout #navbar .navbar-container .search-box input[type=search] {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #6b7280;
  width: 100%;
}
#layout #navbar .navbar-container .search-box input[type=search]::-moz-placeholder {
  color: #c1c3c8;
  font-style: italic;
}
#layout #navbar .navbar-container .search-box input[type=search]::placeholder {
  color: #c1c3c8;
  font-style: italic;
}
#layout #navbar .navbar-container .fa-bell {
  font-size: 18px;
  color: rgb(75, 85, 99);
  margin-right: 20px;
  cursor: pointer;
  background-color: rgb(235, 236, 239);
  padding: 10px 12px;
  border-radius: 50%;
}
#layout #navbar .navbar-container .user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
#layout #navbar .navbar-container .username {
  font-size: 16px;
  color: rgb(75, 85, 99);
  margin-right: 8px;
  font-weight: 500;
}
#layout #navbar .navbar-container .fa-chevron-down {
  font-size: 14px;
  color: rgb(75, 85, 99);
  cursor: pointer;
}

/* Sidebar və Responsive Sidebar üçün animasiya */
#sidebar,
#responsive-sidebar {
  transition: all 0.3s ease-in-out; /* Açılıb-bağlanma üçün hamar animasiya */
}

/* Navbar və Slot bölməsi üçün animasiya */
#navbar,
#slot {
  transition: width 0.3s ease-in-out; /* En dəyişiklikləri üçün animasiya */
}

/* Gizli olduğu zaman Sidebar */
#sidebar.hidden {
  transform: translateX(-100%); /* Soldan çıxarılır */
  visibility: hidden;
  opacity: 0;
}

/* Gizli olduğu zaman Responsive Sidebar */
#responsive-sidebar.hidden {
  transform: translateX(-100%); /* Soldan çıxarılır */
  visibility: hidden;
  opacity: 0;
}

/* Göstərildiyi zaman */
#sidebar,
#responsive-sidebar {
  transform: translateX(0); /* Yerində qalır */
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #layout #sidebar {
    display: none;
  }
  #layout #responsive-sidebar {
    display: flex;
  }
  #layout #navbar {
    width: calc(100% - 92px);
  }
  #layout #navbar .navbar-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  #layout #navbar .navbar-container .fa-bars,
  #layout #navbar .navbar-container .fa-arrow-right {
    display: none;
  }
  #layout #navbar .navbar-container .search-box {
    display: none;
  }
  #slot {
    width: calc(100% - 92px);
  }
}
#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(93, 220, 152) 50%, #e3f8ee 50%);
  position: relative;
  overflow: hidden;
}
#main .clip-img {
  width: 15%;
  height: 150vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: fill;
     object-fit: fill;
}
#main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;
}
#main #animation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
#main #animation img {
  max-width: 80%;
  height: auto;
  animation: slideIn 1s ease-in-out;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#main #login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
#main #login-form .main-box {
  max-width: 400px;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#main #login-form .main-box img {
  max-width: 150px;
}
#main #login-form .main-box .img-title {
  text-align: center;
  color: rgba(102, 102, 102, 0.6901960784);
}
#main #login-form .main-box h2 {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}
#main #login-form .main-box p {
  font-size: 0.9rem;
  color: #666666;
  margin-bottom: 10px;
  text-align: left;
}
#main #login-form .main-box .form-group {
  margin-bottom: 20px;
  text-align: left;
}
#main #login-form .main-box .form-group label {
  font-size: 0.85rem;
  padding: 15px 0px;
  color: black;
}
#main #login-form .main-box .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 0.9rem;
}
#main #login-form .main-box .form-group input:focus {
  border-color: #62c78e;
  outline: none;
  box-shadow: 0 0 4px rgba(98, 199, 142, 0.5);
}
#main #login-form .main-box .remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#main #login-form .main-box .remember-me .remember-button {
  width: 44px;
  height: 24px;
  background-color: #c4c4c4;
  border: 2px solid #999999;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
#main #login-form .main-box .remember-me .remember-button::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #000000;
  border-radius: 50%;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
#main #login-form .main-box .remember-me .remember-button.active {
  background-color: #62c78e;
  border-color: #62c78e;
}
#main #login-form .main-box .remember-me .remember-button.active::after {
  left: calc(100% - 20px);
}
#main #login-form .main-box .remember-me .remember-title {
  font-size: 0.85rem;
  color: #444444;
  margin-left: 10px;
  margin-bottom: 2px;
}
#main #login-form .main-box .submit {
  width: 100%;
  padding: 10px;
  background: rgba(98, 199, 142, 0.7529411765);
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#main #login-form .main-box .submit:hover {
  background: #53b078;
}

@media (max-width: 991px) {
  #main {
    padding: 20px;
    background: #e3f8ee;
  }
  #main #animation {
    display: none;
    margin-bottom: 20px;
  }
  #main #animation img {
    max-width: 100%;
  }
  #main #login-form .main-box {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .clip-img {
    display: none;
  }
}
#slot {
  padding-top: 80px;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 245px);
  overflow: auto;
}
@media (max-width: 768px) {
  #slot {
    width: calc(100% - 92px);
  }
}
#slot .slot-calendar-title {
  padding: 10px;
}
#slot .curr-and-cal {
  width: 100%;
}
#slot .curr-and-cal .currency-container {
  width: 20%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#slot .curr-and-cal .currency-container .currency-button-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(84, 186, 79);
  color: #ffffff;
  font-size: 14px;
  padding: 10px 0px;
  width: 100%;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
#slot .curr-and-cal .currency-container .currency-button-box button i {
  font-size: 20px;
  margin-right: 10px;
}
#slot .curr-and-cal .currency-container .currencies .currency {
  padding: 15px 0px;
  position: relative;
}
#slot .curr-and-cal .currency-container .currencies .currency .status-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 15px;
}
#slot .curr-and-cal .currency-container .currencies .currency .status-indicator.orange {
  background-color: #f39c12;
}
#slot .curr-and-cal .currency-container .currencies .currency .status-indicator.green {
  background-color: #27ae60;
}
#slot .curr-and-cal .currency-container .currencies .currency .status-indicator.blue {
  background-color: #3498db;
}
#slot .curr-and-cal .currency-container .currencies .currency .currency-details p {
  line-height: 10px;
}
#slot .curr-and-cal .currency-container .currencies .currency .currency-details .time,
#slot .curr-and-cal .currency-container .currencies .currency .currency-details .name {
  font-weight: 700;
}
#slot .curr-and-cal .currency-container .currencies .currency .currency-details i {
  font-size: 17px;
  color: rgb(75, 85, 99);
  margin-bottom: 20px;
  cursor: pointer;
}
#slot .curr-and-cal .currency-container .currencies .currency:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(232, 234, 237);
}
#slot .curr-and-cal .currency-container .currencies .currency:last-child:after {
  display: none; /* Remove the line for the last item */
}
#slot .curr-and-cal .calendar-container {
  width: 79%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#slot .curr-and-cal .calendar-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#slot .curr-and-cal .calendar-container .header .present-month {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
}
#slot .curr-and-cal .calendar-container .header .view-options {
  display: flex;
  gap: 3px;
}
#slot .curr-and-cal .calendar-container .header .view-options .view-option {
  padding: 6px 12px;
  border: 1px solid rgb(84, 186, 79);
  border-radius: 10px;
  font-size: 14px;
  color: rgb(84, 186, 79);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#slot .curr-and-cal .calendar-container .header .view-options .view-option:hover {
  background-color: #f1f1f1;
}
#slot .curr-and-cal .calendar-container .header .view-options .view-option.active {
  background-color: rgb(84, 186, 79);
  color: #ffffff;
}
#slot .curr-and-cal .calendar-container .header .rightside .arrows {
  display: flex;
  gap: 3px;
}
#slot .curr-and-cal .calendar-container .header .rightside .arrows .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 32px;
  border: 1px solid rgb(84, 186, 79);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#slot .curr-and-cal .calendar-container .header .rightside .arrows .arrow i {
  color: rgb(84, 186, 79);
  font-size: 14px;
}
#slot .curr-and-cal .calendar-container .header .rightside .arrows .arrow:hover {
  background-color: #f1f1f1;
}
#slot .curr-and-cal .calendar-container .header .rightside .today {
  padding: 4px 8px;
  background-color: rgb(84, 186, 79);
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#slot .curr-and-cal .calendar-container .header .rightside .today:hover {
  background-color: #218838;
}
#slot .curr-and-cal .calendar-container .calendar table {
  height: 600px;
  width: 100%;
  border-collapse: collapse;
}
#slot .curr-and-cal .calendar-container .calendar table thead th,
#slot .curr-and-cal .calendar-container .calendar table thead td {
  border: 1px solid #e5e7eb;
}
#slot .curr-and-cal .calendar-container .calendar table thead .week-name {
  background-color: rgb(245, 246, 250);
}
#slot .curr-and-cal .calendar-container .calendar table thead th {
  font-size: 14px;
  font-weight: 600;
  color: #4b5563;
  padding: 8px;
  text-align: center;
}
#slot .curr-and-cal .calendar-container .calendar table tbody tr .prev-month,
#slot .curr-and-cal .calendar-container .calendar table tbody tr .next-month {
  color: rgb(184, 186, 190);
}
#slot .curr-and-cal .calendar-container .calendar table tbody tr .today-color {
  color: red;
}
#slot .curr-and-cal .calendar-container .calendar table tbody th,
#slot .curr-and-cal .calendar-container .calendar table tbody td {
  border: 1px solid #e5e7eb;
}
#slot .curr-and-cal .calendar-container .calendar table tbody td {
  font-size: 14px;
  text-align: right;
  font-weight: 700;
  padding: 2px 10px;
  vertical-align: top;
  position: relative;
  width: 14.2857%;
  height: 100px;
}
#slot .curr-and-cal .calendar-container .calendar table tbody .event .event-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  cursor: pointer;
  margin: 15px auto;
  background-color: rgb(228, 241, 255);
  height: 30px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
}
#slot .curr-and-cal .calendar-container .calendar table tbody .event .event-box .name {
  color: rgb(72, 127, 255);
  font-weight: 400;
}
#slot .curr-and-cal .calendar-container .calendar table tbody .event .event-box i {
  margin-top: 5px;
  font-size: 10px;
  color: white;
  background-color: rgb(84, 186, 79);
  padding: 5px;
  border-radius: 50%;
}
#slot .curr-and-cal .calendar-container .calendar table tbody .group-event .group-event-box {
  cursor: pointer;
  background-color: rgb(228, 241, 255);
  width: 90%;
  margin: 5px auto;
  height: 70px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
}
#slot .curr-and-cal .calendar-container .calendar table tbody .group-event .group-event-box .name {
  color: rgb(72, 127, 255);
  font-weight: 400;
}
#slot .curr-and-cal .calendar-container .calendar table tbody .group-event .group-event-box i {
  margin-top: 5px;
  font-size: 11px;
  color: white;
  background-color: rgb(84, 186, 79);
  padding: 7px;
  border-radius: 50%;
}

#slot .users-bg {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#slot .users-bg .search-and-add-user {
  margin-bottom: 20px;
}
#slot .users-bg .search-and-add-user .search-section {
  display: flex;
  gap: 10px;
}
#slot .users-bg .search-and-add-user .search-section .search-box {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}
#slot .users-bg .search-and-add-user .search-section .search-box i {
  margin-right: 10px;
  color: #888;
}
#slot .users-bg .search-and-add-user .search-section .search-box input {
  border: none;
  outline: none;
  background: none;
}
#slot .users-bg .search-and-add-user .search-section .status-select select {
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  outline: none;
}
#slot .users-bg .search-and-add-user .add-user button {
  background-color: rgb(84, 186, 79);
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
#slot .users-bg .search-and-add-user .add-user button i {
  margin-right: 5px;
}
#slot .users-bg .search-and-add-user .add-user button:hover {
  background-color: #218838;
}
#slot .users-bg .users-table {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #e0e0e0;
}
#slot .users-bg .users-table table {
  width: 100%;
  border-collapse: collapse;
  color: rgb(75, 85, 99);
}
#slot .users-bg .users-table table thead {
  background-color: rgb(245, 246, 250);
}
#slot .users-bg .users-table table thead th {
  padding: 30px 20px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  color: rgb(17, 24, 39);
  font-weight: 500;
}
#slot .users-bg .users-table table thead th:last-child {
  border-top-right-radius: 10px;
}
#slot .users-bg .users-table table thead th:first-child {
  border-top-left-radius: 10px;
}
#slot .users-bg .users-table table tbody tr td {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}
#slot .users-bg .users-table table tbody tr td .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
#slot .users-bg .users-table table tbody tr td .user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#slot .users-bg .users-table table tbody tr:last-child td {
  border-bottom: none;
}
#slot .users-bg .users-table table .custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
#slot .users-bg .users-table table .custom-checkbox input[type=checkbox] {
  display: none;
}
#slot .users-bg .users-table table .custom-checkbox .checkmark {
  width: 16px;
  height: 16px;
  border: 1px solid rgb(107, 114, 128);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
#slot .users-bg .users-table table .custom-checkbox .checkmark i {
  font-size: 14px;
  color: transparent;
  transition: color 0.3s ease;
}
#slot .users-bg .users-table table .custom-checkbox input[type=checkbox]:checked + .checkmark {
  background-color: rgb(84, 186, 79);
  border-color: rgb(84, 186, 79);
}
#slot .users-bg .users-table table .custom-checkbox input[type=checkbox]:checked + .checkmark i {
  color: #ffffff;
}
#slot .users-bg .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
#slot .users-bg .pagination span {
  color: rgb(75, 85, 99);
  font-size: 14px;
}
#slot .users-bg .pagination .pagination-buttons {
  display: flex;
  gap: 5px;
}
#slot .users-bg .pagination .pagination-buttons button {
  padding: 5px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: rgb(235, 236, 239);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 500;
  color: rgb(75, 85, 99);
}
#slot .users-bg .pagination .pagination-buttons button:hover {
  background-color: rgb(84, 186, 79);
  color: white;
}
#slot .users-bg .pagination .pagination-buttons button.active {
  background-color: rgb(84, 186, 79);
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */